.nav {
  grid-area: nav;
  background-color: #171816;
  border: solid 5px #aeaeae;
  border-top: none;
  text-align: center;
  color: #fff;
  font-size: 26px;
  height: 100vh;
}
.item {
  color: #fff;
  font-size: 26px;
  padding: 20px;
  
}
.item a {
  text-decoration: none;
  color: #fff;
}
.item a.activeLink {
  color: gold;
  
}