.app-wrapper {
  display: grid;
  grid-template-areas: 
  "header header "
  "nav content";
  grid-template-rows: 80px 1fr;
  grid-template-columns: 2fr 10fr;
}

.app-wrapper-content {
  grid-area: content;
  
}
.app-wrapper-content img {
  width: 100%;
  height: 300px;
}




